<%- include('parts/html-head') %>
<%- include('parts/navbar') %>
<%- include('parts/navbar') %>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
        </tr>
        </thead>
        <tbody>
        <% for(let i=0; i<sales.length; i++) { %>
            <tr>
                <td><%= sales[i].id %></td>
                <td><%= sales[i].name %></td>
                <td><%= sales[i].age %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
<%- include('parts/html-foot') %>