<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
<%# views/sales3-add.ejs %>
<% if(locals.message) { %>
    <div class="alert alert-<%= message.type %>" role="alert">
        <%= message.text %>
    </div>
<% } %>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <label for="sales_id">員工編號</label>
                <input type="text" class="form-control" name="sales_id" value="<%= locals.body ? body.sales_id : '' %>">
            </div>
            <div class="form-group">
                <label for="name">姓名</label>
                <input type="text" class="form-control" name="name" value="<%= locals.body ? body.name : '' %>">
            </div>
            <div class="form-group">
                <label for="birthday">生日</label>
                <input type="text" class="form-control" name="birthday" value="<%= locals.body ? body.birthday : '' %>">
            </div>
            <button type="submit" class="btn btn-primary">新增</button>
        </form>
    </div>
</div>
</div>
<%- include('parts/html-foot') %>