<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
<%# views/sales3.ejs %>
<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Birthday</th>
            </tr>
            </thead>
            <tbody>
            <% for(let v of sales) { %>
            <tr>
                <td><%= v.sales_id %></td>
                <td><%= v.name %></td>
                <td><%= v.birthday2 %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
</div>
<%- include('parts/html-foot') %>