<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
<%# views/try-post-form.hbs %>
<div class="col-lg-6">
    <form method="post" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email">
            <% if(typeof email !== 'undefined'){ %>
            <small>上次輸入: <%= email %></small>
            <% } %>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" name="password">
            <% if(locals.password){ %>
                <small>上次輸入: <%= password %></small>
            <% } %>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
<%- include('parts/html-foot') %>
